{% macro shortRunSummary(params) %}
<div class="technical-summary-card technical-summary-card--compressed{% if params.classes %} {{params.classes}}{% endif %}">
    {% set collectionName %}
    <a href="#">{{ params['run']['name'] }}</a>
    {% endset %}
    {%- if not params['run']['completed'] -%}
    {{  params['run']['completed'] }}
    <span><strong class="govuk-tag govuk-tag--red">
        Not run
    </strong>{{ collectionName }}</span>
    <span>Collector did not run.</span>
    {%- else -%}
        {% set total = params['run']['new_resources'] + params['run']['issues'] %}
        {%- if params['run']['issues'] > 0 -%}<span class="dlf-warning__icon--inline" aria-hidden="true">!</span>{%- endif -%}
        <span>{{ collectionName }}</span>
        {%- if total == 0 -%}
        <span>No new resources or issues.</span>
        {%- else -%}
            {% if params['run']['new_resources'] > 0 %}<span>{{ params['run']['new_resources']}} new resource{{ "s" if not params['run']['new_resources'] == 1 else "" }} collected.</span>{% endif %}
            {% if params['run']['issues'] > 0 %}<span>{{ params['run']['issues']}} issue{{ "s" if not params['run']['issues'] == 1 else "" }} encountered.</span>{% endif %}
        {%- endif -%}
    {%- endif -%}
</div>
{% endmacro %}