{% extends "dlf-base.html" %}

{% block pageTitle %}Collections | Digital Land{% endblock %}

{% from 'collection-macros/short-summary.html' import shortRunSummary  %}
{% from 'dl-macros/heatmap/macro.jinja' import heatMap  %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Land",
        "href": "https://digital-land.github.io/"
      },
      {
          "text": "Collections",
          "href": "/collection"
      },
      {
          "text": data['name'],
          "href": "/collection/" + data['collection']
      },
      {
          "text": "Log"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<span class="govuk-caption-xl">Collection</span>
<h1 class="govuk-heading-xl">{{ data['name'] }} log</h1>

<p class="govuk-body">A record of how the collector has been performing over time.</p>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#resources">
        Resources
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#issues">
        Issues
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="resources">
      {{ heatMap({
        "weeks": heatmap['new_resources']['weeks'],
        "highest": heatmap['new_resources']['highest']
        })
      }}
  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="issues">
    {{ heatMap({
      "weeks": heatmap['issues']['weeks'],
      "highest": heatmap['issues']['highest'],
      "classes": "dlf-svg-heatmap--red"
      })
    }}
  </div>
</div>

<h2 class="govuk-heading-l dl-heading-section-break govuk-!-margin-top-9">Complete run history</h2>
<p class="govuk-body">Since {{ data['first_run']['date'] }} this collector has been run a total of {{ data['total_runs'] }} times, collecting <a href="#" class="govuk-link">{{ data['total_resource_count'] }} resource{{"" if data['total_resource_count'] == 1 else "s" }}</a>.</p>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
      <ol class="dl-timeline dl-timeline--dates">
          {% for run in data['history'] %}
          <li class="dl-timeline__entry">
              <h3 class="govuk-heading-m dl-timeline__entry-heading"><a class="govuk-link--text-colour" href="{{ run['date'] }}">{{ run['date'] }}</a></h3>
              <div class="dl-timeline__entry__content">
                {{ shortRunSummary({
                  "classes": "govuk-!-margin-bottom-1",
                  "run": run
                }) }}
              </div>
          </li>
          {% endfor %}
      </ol>
  </div>
</div>
{% endblock %}

{% block footer %}
  {{ dlfPageFeedback({
    "text": "Do you have feedback about this page?",
    "href": "mailto:digitalland@communities.gov.uk?subject=Feedback on digital land /collection/"+ data['collection'] +"/log page"
  }) }}
  {{ super() }}
{% endblock %}
