{% extends "dlf-base.html" %}
{%- from "dl-macros/data-item/macro.jinja" import dlfDataItem %}
{% from 'collection-macros/short-summary.html' import shortRunSummary  %}

{% block pageTitle %}{{ data.name }} | Collections | Digital Land{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Land",
        "href": "https://digital-land.github.io/"
      },
      {
        "text": "Collections",
        "href": "/collection"
      },
      {
          "text": data['name']
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Collection</span>
        <h1 class="govuk-heading-xl">{{ data['name'] }}</h1>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="related-stat-summary">
            <h4 class="related-stat-summary__heading">Total resources collected</h4>
            <a href="/resources" class="govuk-link--text-colour govuk-!-font-size-19">{{ data['total_resource_count'] }}<span class="govuk-visually-hidden"> {{ data['name'] }} resources</span></a>
        </div>
    </div>
</div>

<dl class="govuk-summary-list app-summary-list--key-weight-regular govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            First run
        </dt>
        <dd class="govuk-summary-list__value">
            {{ data['first_run']['date'] }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Endpoints
        </dt>
        <dd class="govuk-summary-list__value">
            {{ data['endpoints']['total_count'] }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Endpoints.csv last edited
        </dt>
        <dd class="govuk-summary-list__value">
            {{ data['endpoints']['last_updated'] }}
            <span class="govuk-body-s">(<a class="govuk-link" href="{{ data['repository'] }}/blob/master/collection/endpoint.csv">Update endpoints</a>)</span>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Repository
        </dt>
        <dd class="govuk-summary-list__value">
            <a href="{{ data['repository'] }}" class="govuk-link--text-colour">{{ data['repository'] }}</a>
        </dd>
    </div>

</dl>

<h2 class="govuk-heading-l">Last run</h2>
<p class="govuk-body">This collection last ran on {{ data['last_run']['date'] }}</p>

<div class="technical-summary-card govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-one-third">
      <p class="govuk-body-s govuk-!-margin-bottom-1">Endpoint results:</p>
      <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-padding-top-1">
          <span class="technical-summary-card__result technical-summary-card__result--success">
              {{ data['last_run']['endpoints']['success'] }}
              <span class="govuk-visually-hidden"> endpoint{{ "s" if data['last_run']['endpoints']['success'] > 1 else "" }}</span>
                  succeeded
          </span>
          <span class="technical-summary-card__result technical-summary-card__result--fail">
              {%- set failHtml %}
              {{ data['last_run']['endpoints']['fail'] }}
              <span class="govuk-visually-hidden"> endpoint{{ "s" if data['last_run']['endpoints']['fail'] > 1 else "" }}</span>
                  failed
              {% endset -%}
              {%- if data['last_run']['endpoints']['fail'] == 0 -%}
                  {{ failHtml }}
              {%- else -%}
              <a href="#" class="govuk-link--text-colour">{{ failHtml }}</a>
              {%- endif %}
          </span>
      </p>
  </div>
  <div class="govuk-grid-column-one-third">
      <p class="govuk-body-s govuk-!-margin-bottom-1">Documentation URLs:</p>
      <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-padding-top-1">
          <span class="technical-summary-card__result technical-summary-card__result--success">
              {{ data['last_run']['documentation_urls']['active'] }}
              <span class="govuk-visually-hidden"> documentation url{{ "s" if data['last_run']['documentation_urls']['active'] > 1 else "" }} {{ "are" if data['last_run']['documentation_urls']['active'] > 1 else "is" }} </span>
                  active
          </span>
          <span class="technical-summary-card__result technical-summary-card__result--fail">
              {%- set inactiveHtml %}
              {{ data['last_run']['documentation_urls']['inactive'] }}
              <span class="govuk-visually-hidden"> documentation url{{ "s" if data['last_run']['documentation_urls']['inactive'] > 1 else "" }} {{ "are" if data['last_run']['documentation_urls']['inactive'] > 1 else "is" }} </span>
                  inactive
              {% endset -%}
              {%- if data['last_run']['documentation_urls']['inactive'] == 0  -%}
              {{ inactiveHtml }}
              {%- else -%}
              <a href="#" class="govuk-link--text-colour">{{ inactiveHtml }}</a>
              {%- endif %}
          </span>
      </p>
  </div>
  <div class="govuk-grid-column-one-third">
      {% set label = "New resource" if data['last_run']['new_resources']|length == 1 else "New resources" %}
      {{ dlfDataItem({
          "number": data['last_run']['new_resources']|length,
          "text": label,
          "classes": "data-item--inline data-item--s govuk-!-margin-top-4 govuk-!-margin-bottom-0"
          })
      }}
  </div>
</div>


<h2 class="govuk-heading-l dl-heading-section-break">Recent history</h2>
<p class="govuk-body">Since {{ data['first_run']['date'] }} this collector has been run a total of <a href="log" class="govuk-link">{{ data['total_runs'] }} times</a>, collecting <a href="#" class="govuk-link">{{ data['total_resource_count'] }} resource{{"" if data['total_resource_count'] == 1 else "s" }}</a>.</p>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
      <ol class="dl-timeline dl-timeline--dates">
          {% for run in data['history'][:5] %}
          {# only show last 5 runs #}
          <li class="dl-timeline__entry">
              <h3 class="govuk-heading-m dl-timeline__entry-heading"><a class="govuk-link--text-colour" href="{{ run['date'] }}">{{ run['date'] }}</a></h3>
              <div class="dl-timeline__entry__content">
                {{ shortRunSummary({
                  "classes": "govuk-!-margin-bottom-1",
                  "run": run
                }) }}
              </div>
          </li>
          {% endfor %}
      </ol>
      <p class="govuk-body"><a href="#" class="govuk-link">See all previous runs of the collection</a></p>
  </div>
</div>

{% endblock %}

{% block footer %}
  {{ dlfPageFeedback({
    "text": "Do you have feedback about this page?",
    "href": "mailto:digitalland@communities.gov.uk?subject=Feedback on digital land /collection/"+ data['collection'] +" page"
  }) }}
  {{ super() }}
{% endblock %}
