{% extends "dlf-base.html" %}

{% block pageTitle %}Collections | Digital Land{% endblock %}

{% block beforeContent %}
	{{ super() }}

	{{ govukBreadcrumbs({
	  "items": [
	    {
	      "text": "Digital Land",
	      "href": "https://digital-land.github.io/"
	    },
	    {
            "text": "Collections",
            "href": "/collection"
        },
        {
            "text": collection['name'],
            "href": "/collection/" + collection['collection']
        },
        {
            "text": "log",
            "href": "/collection/" + collection['collection'] + "/log"
        },
        {
            "text": data['date']
        }
	  ]
	}) }}

{% endblock %}

{% block content %}
<span class="govuk-caption-xl">Log results</span>
<h1 class="govuk-heading-xl">{{ collection['name'] }} &mdash; {{ data['date'] }}</h1>

<p class="govuk-body-l">The collector attempted to collect resources from {{ data['endpoints']['total'] }} endpoint{{"" if data['endpoints']['total'] == 1 else "s"}}.</p>

<h2 id="issues" class="govuk-heading-l">Issues</h2>

<p class="govuk-body">Issues occur when the collector can't reach an endpoint and retrieve a resource, or when a documentation URL is no longer available. They often need manual intervention to fix.</p>

<div class="highlight-box--cta">
  <a href="{{ collection['endpoint_register'] }}" class="govuk-link">Edit endpoint.csv</a>
</div>

<h3 id="endpoint-issues" class="govuk-heading-m">Endpoints</h3>

{% set total_endpoint_issues = data['endpoints']["total"] - data['endpoints']["success_count"] %}
<p class="govuk-body">The collector failed to collect resources from {{total_endpoint_issues}} endpoint{{"" if total_endpoint_issues == 1 else "s"}}.</p>
<p class="govuk-body">Problems with endpoints usually occur when an endpoint no longer exists.</p>

{% if total_endpoint_issues > 0 %}
<div class="govuk-accordion" data-module="govuk-accordion" id="endpoint-error-type">
  {% for error_type in data['endpoints']['issue'].keys() %}
  {% set error_data = data['endpoints']['issue'][error_type] %}
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="endpoint-error-type-heading-{{ loop.index }}">
          {{ error_data|length }} endpoint{{"" if error_data|length == 1 else "s"}} failed with {{error_type}}
        </span>
      </h2>
    </div>
    <div id="endpoint-error-type-content-{{ loop.index }}" class="govuk-accordion__section-content" aria-labelledby="endpoint-error-type-heading-{{ loop.index }}">
      <ul class="govuk-list govuk-list--number">
        {% for ept in error_data %}
          <li class="issue-list__item">
            <div class="govuk-grid-column-one-quarter">
              Endpoint
              <div class="issue-list__item__text-s">(<a href="{{ ept['documentation_url'] }}" class="govuk-link">Visit documentation page</a>)</div>
            </div>
            <div class="govuk-grid-column-three-quarters"><a class="govuk-link--text-colour" href="{{ ept['endpoint'] }}">{{ ept['endpoint'] }}</a></div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

{% if data['documentation_url']|length > 0 %}
<h3 id="documentation-url-issues" class="govuk-heading-m govuk-!-margin-top-9">Documentation URLs</h3>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What is a documentation URL?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">A documentation URL is the location of a webpage which references the endpoint. It is common for this page to include supplimentary information about the endpoint E.g. how to use the data or what license does the data have.</p>
    <p class="govuk-body">The documentation URL for an endpoint is a useful starting point when diagnosing any issues with an endpoint. The collector checks whether each documentation URL still exists so that they can be kept up to date.</p>
  </div>
</details>

<p class="govuk-body">The collector was unable to reach {{ data['documentation_url']|length }} documentation URL{{"" if data['documentation_url']|length == 1 else "s"}}.</p>
<ul class="govuk-list govuk-list--bullet">
  {% for url in data['documentation_url'] %}
    <li>{{ url }}</li>
  {% endfor %}
</ul>
{% endif %}

<h2 id="resources" class="govuk-heading-l">Resources</h2>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What is a resource?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">A resource is the name given to anything collected by the collector. It usually refers to a file collected from an endpoint.</p>
    <p class="govuk-body">A new resource is either something collected for the first time or an updated version of a file previously collected.</p>
  </div>
</details>

{% if data['new_resources']|length > 0 %}
<p class="govuk-body">{{ data['new_resources']|length }} new resource{{"" if data['new_resources']|length == 1 else "s"}} collected.</p>

<ul class="govuk-list govuk-list--bullet">
  {% for new_res in data['new_resources'] %}
  <li>
    {% if new_res['old'] %}
    <a href="#">{{ new_res['new']|truncate(11,true) }}</a> replaces <a href="#">{{ new_res['old']|truncate(11,true) }}</a>
    {% else %}
    <a href="#">{{ new_res['new']|truncate(11,true) }}</a>, first resource collected from <a href="{{ new_res['from'] }}">endpoint</a>.
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="govuk-body">No new resources collected.</p>
{% endif %}

{% endblock %}

{% block footer %}
  {{ dlfPageFeedback({
    "text": "Do you have feedback about this page?",
    "href": "mailto:digitalland@communities.gov.uk?subject=Feedback on digital land /collection/"+ collection['collection'] +"/log/"+data['date']+" page"
  }) }}
  {{ super() }}
{% endblock %}
