{% extends "dlf-base.html" %}

{% block content %}
<h1 class="govuk-heading-xl">Collections</h1>

<p class="govuk-body-l">There are currently {{ data['collections']['active']|length }} active collections.</p>
<p class="govuk-body">The active collections run every night. We log the output of each run. You can <a href="#">view a full history of the collection runs</a>.</p>

<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What is a collection?
      </span>
    </summary>
    <div class="govuk-details__text">
      A collection is....
    </div>
</details>

<h2 class="govuk-heading-l">Active collections</h2>

<ul class="collection-list">
    {% for collection in data['collections']['active'] %}
    <li class="technical-summary-card">
        <div class="govuk-grid-column-one-third">
            <h3 class="technical-summary-card__title govuk-heading-m govuk-!-padding-top-0 govuk-!-margin-bottom-0"><a href="" class="govuk-link">{{ collection['collection'] }}</a></h3>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <p class="govuk-body-s govuk-!-margin-bottom-1">Last run:</p>
                    <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-padding-top-1">{{ collection['last_run']['date'] }}</p>
                    <p class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-padding-top-1"><a href="#" class="govuk-link">See earlier runs</a></p>
                </div>
                <div class="govuk-grid-column-one-half">
                    <p class="govuk-body-s govuk-!-margin-bottom-1">Endpoint results:</p>
                    <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-padding-top-1">
                        <span class="technical-summary-card__result technical-summary-card__result--success">{{ collection['last_run']['endpoints']['success'] }} succeeded</span>
                        <span class="technical-summary-card__result technical-summary-card__result--fail"><a href="#" class="govuk-link--text-colour">{{ collection['last_run']['endpoints']['fail'] }} failed</a></span>
                    </p>
                </div>
                <div class="govuk-grid-column-full">
                    <div class="technical-summary-card__section">
                        <span class="govuk-!-margin-right-3">Total resources collected:</span><a href="#" class="govuk-link--text-colour">{{ collection['resource_count'] }}</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>


{% if data['collections']['inactive']|length > 0 %}
<h2 class="govuk-heading-l">Deactivated collections</h2>

<ul class="collection-list">
    {% for collection in data['collections']['inactive'] %}
    <li class="technical-summary-card">
        <div class="govuk-grid-column-one-third">
            <h3 class="technical-summary-card__title govuk-heading-m govuk-!-padding-top-0 govuk-!-margin-bottom-0"><a href="" class="govuk-link">{{ collection['collection'] }}</a></h3>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-!-margin-right-3">Last run:</span>{{ collection['last_run']['date'] }} (<a href="#" class="govuk-link govuk-body-s">see details</a>)
            <div class="technical-summary-card__section">
                <span class="govuk-!-margin-right-3">Total resources collected:</span><a href="#" class="govuk-link--text-colour">{{ collection['resource_count'] }}</a>
            </div>

        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}



{% endblock %}